<table class="table table-striped">
	<B><center>WAITING FOR APPROVAL</center></B>
	<tr>
		<td>BLOG TITLE</td>
		<td>AUTHOR</td>
		<td>POSTED ON</td>
	</tr>
	<tr ng-repeat="blog in blogsWaiting">
		<td><a href="#/admin/getBlog/{{blog.id}}">{{blog.blogTitle}}</a></td>
		<td>{{blog.postedBy.user_firstName}}</td>
		<td>{{blog.postedOn | date : dd.MM.yyy}}</td>
	</tr>
</table>
<table class="table table-striped">
	<B><center>APPROVED BLOGS</center></B>
	<tr ng-repeat="blog in blogsApproved">
		<td><a href="#/getBlog/{{blog.id}}">{{blog.blogTitle}}</a></td>
		<td>{{blog.postedBy.user_firstName}}</td>
		<td>{{blog.postedOn | date : dd.MM.yyy}}</td>
	</tr>
</table>